extends layout.pug

block content
  div.View.WelcomeView
    h1.Banner K8S Tutorial
    div.Message
      div.Title
        h3 Making the Best
        h1 Food For Devs
      span.Details Access the K8S Team Portal
    div.NavButtons
      a(href="/user")
        div.NavButton Just dive in!